html {
    background-color: #ebdbbc;
}

.container {
    position: relative;
}

.open.eye {
    position: absolute;
    align-items: center;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 60px;
    position: relative;
    text-align: center;
}

h3 {
    font-family: 'Inconsolata', monospace;
    position: relative;
    text-align: center;    
}